* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	background-image: url("./images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	color: white;
}

nav {
	background-color: black;
}

nav button {
	background-color: white;
}

.navbar .btn-collapse {
	color: white;
}

.navbar a {
	color: white;
}

.navbar .brand {
	color: white;
	background-color: hsl(0, 60%, 50%);
	border-top-left-radius: 2.2rem;
	border-bottom-right-radius: 1.8rem;
	padding: 0.6rem;
	font-weight: bold;
}

nav li a {
	color: white;
}
nav li a:hover {
	color: red;
}

.label label {
	text-align: left;
}

.jumbotron {
	color: white;
	background-image: url("./images/bg.jpg");
	background-size: cover;
}

.jumbotron p {
	font-weight: bold;
}

.jumbotron h1 span {
	color: hsl(0, 60%, 50%);
	font-style: italic;
}

.home-top {
	color: black;
	background-color: hsl(0, 60%, 50%);
	padding: 4rem;
	margin-bottom: 0px;
}

.home-top h3 {
	font-size: 45px;
	text-align: center;
	color: white;
}

.home-top p {
	text-align: center;
	font-size: 25px;
}

.hide {
	padding: 1rem;
	background-color: white;
	margin-top: 0.2rem;
}

.hide button {
	text-align: center;
	border: 1px solid black;
	background-color: black;
	color: white;
	margin:auto;
  	display:block;
}

.pagination {
	margin:auto;
  	display:block;
}

.explore {
	background-color: white;
	margin-top: 0px;
}

.explore h2, h6 {
	text-align: center;		
}

.explore h2 a {
	text-decoration: none;
	color: black;		
}

.explore h2 a:hover {
	color: hsl(0, 60%, 50%);		
}

.imgbtn {
	width: 100%;
	height: 70%;
}

.gallery {
	text-align: center;
}

.about {
	padding: 10rem;
}

.about p {
	font-size: 20px;
	text-align: center;
}

.about h3 {
	text-align: center;
	font-size: 40px;
}

.contact {
	font-size: 20px;
}

.contact-top {
	margin-bottom: 2rem;
}

.label small {
	color: red;
}
.movies {
	padding: 1rem;
	margin-bottom: 0.8rem;
}

.contact-top {
	padding: 1rem;
	color: white;
	font-size: 18px;
	background-color: hsl(0, 60%, 50%);
	margin-bottom: 0.4rem;
	margin-top: 0.4rem;
}

.contact-top span a {
	color: white;
	font-size: 18px;
	/*text-decoration: none;*/
	cursor: pointer;
	font-weight: bold;
}


.contact-form {
	margin-bottom: 0.8rem;
	padding: 2rem;
}

.form-btn {
	background-color: hsl(0, 60%, 50%);
	color: white;
}

.jumbotron ul li {
	list-style-type: none;
	display: inline-block;
}

.jumbotron ul li img {
	width: 5%;
	height: 5%;
}

.footer {
	background-color: black;
	padding: 3rem;
	color: white;
}